<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>KeepAlive</key>
		<false />

		<key>Label</key>
		<string>local.return-to-vana-diel-monitor</string>

		<key>ProgramArguments</key>
		<array>
			<string>~/code/return-campaign-monitor/check_campaign.rb</string>
		</array>

		<key>StartInterval</key>
		<integer>86400</integer>

		<key>RunAtLoad</key>
		<true />

		<key>StandardErrorPath</key>
		<string>/dev/null</string>

		<key>StandardOutPath</key>
		<string>/dev/null</string>
	</dict>
</plist>